In [ ]:
#class is a blueprint of the building
#object is the building
#class = car properties #object = which brand car
i=10

In [ ]:
print(type(i))

<class 'int'>

In [ ]:
class test:
  pass       #no definition for test class

In [ ]:
class person:
  pass

In [ ]:
p=person #object

In [ ]:
p

__main__.person

In [ ]:
type(p)

type

In [ ]:
print(p)

<class '__main__.person'>

In [ ]:
#setting attributes for the person class
p.fname = 'vishnu'
p.lname = 'varshan'
p.yob = 14022000

In [ ]:
a = person
a.name = 'abc'
a.yob = 13022000
a.expno = 1928282

In [ ]:
#a and p can have different properties

In [ ]:
#extracting data
p.fname

'vishnu'

In [ ]:
a.yob

13022000

In [ ]:
p.yob  #why it gives yob of a = because we are overriding its value

13022000

In [ ]:
#the above practice is very bad

In [ ]:
#lets try the best practice for class data extraction

In [ ]:
class Person:
  def __init__(self,name,lname,yob): #pass the data to the class with __init__
    self.name = name
    self.lname = lname
    self.yob = yob
#self is a pointer - just a reference pointing to itself

In [ ]:
p = Person()  #values missing

TypeError: ignored

In [ ]:
p = Person('vishnu','varshan',14022000)
print(p)
#__init__ initializes the data for the particular objects

<__main__.Person object at 0x7f00b1759dd0>

In [ ]:
s = Person('abc','de',13893)

In [ ]:
p.name

'vishnu'

In [ ]:
s.name

'abc'

In [ ]:
class Person1:
  def __init__(self,name,lname,yob):
    self.name = name
    self.lname = lname
    self.yob = yob

  def test(self,n,m):
    return n+m+self.yob  #error if doesn't used self.yob

  def __str__(self): #always returns a string object
    return "%s %s is born on %d"%(self.name,self.lname,self.yob)

In [ ]:
p1 = Person1('vishnu','varshan',14)
p1.test(12,13)

39

In [ ]:
s = Person1('abc','def',1320200)

In [ ]:
print(p1)  #only if we use print, __str__ will be returned

vishnu varshan is born on 14

In [ ]:
#i want the values inside the objects

In [ ]:
print(s)

abc def is born on 1320200

In [ ]:
s.test(10,30)

1320240

In [ ]:
class person2:
  def pass_name(self,name):
    self.name = name

  def pass_surname(self,surname):
    self.surname = surname

  def pass_yob(self, yob):
    self.yob = yob

In [ ]:
# obj2 = person2('vishnu','varshan',1402) #not work without __init__

In [ ]:
obj2 = person2()

In [ ]:
obj2.pass_name('vishnu')
obj2.pass_surname('varshan')
obj2.pass_yob(3450)

In [ ]:
obj2.name

'vishnu'

In [ ]:
s1 = person2()

In [ ]:
s1.pass_name('vishnu')
s1.pass_surname('varshan')
s1.pass_yob(3450)

In [ ]:
s1.yob

3450

# Abstraction

In [ ]:
#public - anyone can access anywhere,
#protected - within the class and subclass,
#private - only within the class

In [ ]:
class person3:
  def pass_name(self,name):
    self._name = name

  def pass_surname(self,surname):
    self._surname = surname

  def pass_yob(self, yob):
    self._yob = yob

In [ ]:
obj3 = person3()

In [ ]:
obj3.pass_name('vishnu')

In [ ]:
obj3._name #underscore is private variable

'vishnu'

In [ ]:
#public do not have any underscores

In [ ]:
obj3.__dict__ #to see the values inside the class

{'_name': 'vishnu'}

In [ ]:
print(obj3)

<__main__.person3 object at 0x7f00b1617990>

In [ ]:
class person4:
  def pass_name(self,name):
    self.__name = name  #

  def pass_surname(self,surname):
    self._surname = surname

  def pass_yob(self, yob):
    self._yob = yob

In [ ]:
p4 = person4()

In [ ]:
p4.pass_name('vishnu')

In [ ]:
p4.__name  #error

AttributeError: ignored

In [ ]:
p4.__dict__  #storing with class name and the variable when using double underscores

{'_person4__name': 'vishnu'}

In [ ]:
p4._person4__name  #this is fully private

'vishnu'

# Inheritance

In [1]:
class person:
  def __init__(self,name,lname,age):
    self.name = name
    self.lname = lname
    self.age = age

In [3]:
class student(person):
  def __init__(self,roll_no,college_name, *args): 
    super(student,self).__init__(*args) #person.__init__()
    self.roll_no = roll_no
    self.college_name = college_name

In [4]:
stud = student(333,'kct','vishnu','varshan',20)

In [5]:
stud.roll_no

333

In [6]:
stud.name

'vishnu'

In [7]:
stud.age

20

In [8]:
class a:
  def test(self):
    print('vishnu')

class b:
  def test(self):
    print('varshan')

class c(a,b):  #if we call test using c obj, a will work; c(b,a) here b will work
  obja = a()
  objb = b()
  obja.test()
  objb.test()

vishnu
varshan

In [9]:
objc = c()
objc.test()

vishnu

# Polymorphism

In [10]:
class Cat:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def info(self):
        print(f"I am a cat. My name is {self.name}. I am {self.age} years old.")

    def make_sound(self):
        print("Meow")

In [11]:
class Dog:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def info(self):
        print(f"I am a dog. My name is {self.name}. I am {self.age} years old.")

    def make_sound(self):
        print("Bark")

In [12]:
cat1 = Cat("Kitty", 2.5)
dog1 = Dog("Fluffy", 4)

for animal in (cat1, dog1):
    animal.make_sound()
    animal.info()
    animal.make_sound()

Meow
I am a cat. My name is Kitty. I am 2.5 years old.
Meow
Bark
I am a dog. My name is Fluffy. I am 4 years old.
Bark